In [ ]:
%load_ext autoreload
%autoreload 2
from harambot.lib import analyze
import os
import datetime

DATA_PATH = os.path.join('harambot','data','fake.json')
dt = analyze.read(DATA_PATH,keep_event=False)
first_message = analyze.get_first_message(dt)
first_message.head(n=3)

In [3]:
# Find message with reactions
dt['msgWith'] = dt['messageReactions'].apply(lambda k: any(k))
# Get the number of reactions
dt['messageReactions'] = dt['messageReactions'].apply(lambda k: len(k))

reac_per_sender = dt.groupby('senderID')['messageReactions']

dt = (dt.groupby('senderID')['msgWith'].sum() / reac_per_sender.count()).reset_index()
dt = dt.merge(reac_per_sender.mean().reset_index(), on='senderID')

# Rename columns
dt.columns = ['senderID', 'msg with emote', 'emote per msg']

In [4]:
dt.sort_values('msg with emote')

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>senderID</th>
      <th>msg with emote</th>
      <th>emote per msg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0OGJP</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5W5PM</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9GEWX</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>B8WNA</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>N2CR0</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NAB7R</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>O5FQT</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Q855N</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>UEJ5B</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>YRR9W</td>
      <td>1.0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>